@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./assets/fonts/Roboto.ttf");
}

@font-face {
  font-family: "RobotoItalic";
  src: local("RobotoItalic"), url("./assets/fonts/RobotoItalic.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
